* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    /* prevents scrolling completely as good for dashboard app */
    overflow-x: hidden;
    /* background-color: #c9c9c9; */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    /* padding: 5px; */
}

.Parent-section{
    min-width: 100%;
    min-height: 100%;
    /* border-radius: 10px; */
    background: #ffffff;
    /* box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2); */
    /* displaying the all three section in flex display */
    display: flex;
    flex-direction: row;
}

/* sidebar section */
.sidebar{
    border-right: 2px solid #e6e6e6;
    width: 20%;
    height: 100vh;
    color: #6c6c6c;
    /* for dividing place into two section using flexbox */
    display: flex;
    position: sticky;
    top: 0;
}


/* sideMain-Nav */
.sideMain-Nav{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #e6e6e6;}

/* for three dots in side bar top like macbook dots */
.thee-dots {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 15px;
}
.dot{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 2.5px;
}

.red {
    background: #ff0000ab;
}

.yellow {
    background: #ffa6009a;
}

.green {
    background: #008000c8;
}

/* for C icon */
/* .c{

    background: lightgrey;
    border-radius: 50%;
    width: 100%;
    height: 2rem;
    
} */

.sideMain-Nav ul{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.3rem;
    padding-left: 2px;
    
}

.sideMain-Nav ul li {
    list-style: none;
    padding: 15px;
    padding-bottom: 15px;
    border-left: 4px solid transparent;
    transition: all 0.5s ease;
}


.sideMain-Nav ul li:hover {
    color: blue;
    border-left: 4px solid blue;
    border-radius: 4px;
}


.sideMain-Nav ul li:first-child i{
    background: #edf0f1;
    border: none;
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------------------------------------------ */
/* small-Nav */
.small-Nav{
    width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 13px;
    font-size: 0.8rem;
} 
.search-wrapper {
    position: relative;
    width: 100%;
    /* padding: 20px 30px 0px 30px; */
}

.search-wrapper input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    /* left space for icon */
    font-size: 1rem;
    border-radius: 12px;
    border: none;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 1.1rem;
    pointer-events: none;
}

.small-Nav ul{
    width: 100%;
}

.small-Nav ul li{
    list-style: none;
    padding: 7px;
    cursor: pointer;
    position: relative;
}

/* hide inner dropdowns */
.small-Nav ul li ul {
    display: none;
}

/* it was not working, dont know why */
/* .small-Nav ul li ul.uniqu-ul {
    margin-left: 20px;
} */

/* show when active */
.small-Nav ul li.active>ul {
    display: block;
}


/* ------------------------------------------------------------------------------- */
/* main section */
.main{
    /* border: 1px solid grey; */
    width: 55%;
    min-height: 100%;
}

.top{
    width: 100%;
    /* height: 15%; */
    height: 157.5px;
    background: #ffffff;
    padding: 10px;
    position: sticky;
    top: 0;
}
/* first layer */
.first-layer{
    padding: 20px 20px 1px 20px;
    display: flex;
    justify-content: space-between;
    
}
.first-layer div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.first-layer ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: rgb(95, 95, 95) ;
}
/* .first-layer ul li{
    color: #2a2a2a;
} */

/* second layer */
.second-layer{
    width: 100%;
    padding: 0 0 22px 50px;
}
.second-layer ul{
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
}
.second-layer ul li {
    font-size: 0.8rem;
    color: #787878;
}

.second-layer ul li+li::before{
    content: '/';
    color: lightgray;
    margin: 0 18px;
}

/* Third Layer */
.third-layer{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 2.5px solid transparent;
}

.third-right ul{
    display: flex;
    /* align-items: center; */
    gap: 25px;
    list-style: none;
    color: #5e5e5e;
}
.third-right ul li{
    text-align: center;
    padding-bottom: 13.5px;
    font-weight: 500;
}

.third-right ul li:hover{
    color: black;
    border-bottom: 2.5px solid blue;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
}


.third-left{
    display:flex;
    align-items:center;
    padding:0 72px;
    position:relative;
}

.third-left img,.d,
.ee{
    width:40px;
    height:40px;
    border:4px solid #edf0f1;
    border-radius:50%;
    position:absolute;
}

.ee{
    background:#edf0f1;
    border: none;
    color:#8a8a8a;
    text-align: center;
    padding-top: 13px;
}

.a{z-index:1; left:0;}
.b{z-index:2; left:22px;}
.c{z-index:3; left:44px;}
.d{
    z-index:4;
    left:67px;
    background: #edf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.ee{z-index:5; left:116px;}

.divider{
    position:absolute;
    left:107px;
    font-size:1.8rem;
    color:lightslategray;
}


/* main content bottom section */


.main-content{
    width: 100%;
    /* height: 85%; */
    background: #edf0f1;
    display: grid;
    grid-template-areas:
        'top-row top-row top-row'
        'colOne colTwo colThree';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px 1fr;
    gap: 10px;
    padding: 5px 20px;
}
.top-row{
    grid-area: top-row;
    /* background: rgb(255, 202, 229); */
    padding: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top-row div{
    /* padding: 0 40px; */
    color: #515151;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
}
.top-row div ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.top-row div ul li{
    padding: 5px 10px;
    /* font-size: 0.8rem; */
}

.top-row div ul li:hover {
    background: #dae2e8;
    border-radius: 8px;
    color: black;
}

/* first column */
.colOne, .colTwo, .colThree{
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.request{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1px;
    color: #353535;
}
.request div{
    display: flex;
    align-items: center;
    gap: 5px 0;
    font-size: 0.9rem;
}
.request div :nth-child(3){
    padding-left: 5px;
    display: block;
    font-size: 0.8rem;
}
.red-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: red;
}

/* + addition sign */
.additionSign{
    width: 100%;
    height: 32px;
    background-color: #fff;
    border-radius: 7px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* small section */
.small-section{
    background: #fff;
    border-radius: 7px;
    padding: 10px;
}

.section-icon-ul{
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 0.7rem;
}

.section-icon-ul li {
    padding: 2px;
    color: white;
    border-radius: 12px;
}

.section-icon-ul :nth-child(1){
    background: #4696ff;
    padding: 3px 7px 2px 7px;
}
.section-icon-ul :nth-child(2) {
    background: #00c700;
    padding: 3px 7px 2px 7px;}

/* remain text size on section other then request etc */
.small-section h4{
    font-size: 0.9rem;
    font-weight: 600;
}
.small-section p,form{
    font-size: 0.8rem;
}

.radio-form{
    padding: 12px 0;
    color: #787878;
}
.radio-form label{
    display: inline-block;
    padding: 3px 0;

}

/* add-subtask element */
.add-subtask{
    padding: 12px 0px;
    color: #787878;
}

/* extracting hr to full section width */
hr{
    border: none;
    border: 1px solid #edf0f1;
}
.hr{
    margin: 0 -10px;
}
.top-row-hr{
    border: 1.5px solid #dadde0;
}
/* small section footer */
.smallSections-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}

.smallSections-footer div{
    display: flex;
    align-items: center;
}

.smallSections-footer>div img{
    width: 30px;
    height: 30px;
    border: 2px solid lightgray;
    border-radius: 50%;
}

.smallSections-footer div img+img {
    margin-left: -7.5px;
    /* 25% overlap */
}

.smallSections-footer :nth-child(2) {
    gap: 15px;
    font-size: 0.8rem;
    color: #616161;
}

/* second small section */

/* images row in small section */
.image-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 2px; */
    padding: 10px 2px;
}
.image-row img{
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 8px;
}
.image-row p{
    width: 30px;
    height: 25px;
    padding: 2px;
    border-radius: 8px;
    text-align: center;
    background: lightgray;
}

/* ------------------------------------------------------- */
/* second column */
.gray-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(174, 174, 174);
}
/* first small section */
/* under add subtask showing images */
.image-row2{
    display: flex;
    padding: 10px 2px;
    gap: 3px;
}
.image-row2 img{
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 8px;
}

/* column two section two h4 */
.small-section .colTwo-secTwo-h4{
    padding-bottom: 8px;
    font-size: 0.8rem;
}

/* ------------------------------------------------------- */
/* third column */
/* green dot */
.green-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: green;
}

.thirdCol-sectionP{
    padding-bottom: 10px;
}
/* ------------------------------------------------------------------------------- */
/* chat section */
.chat{
    border-left: 2px solid #e6e6e6;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    
}

.chat-Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 20px 20px 20px;

}
.chat-Nav .fa-xmark{
    background: #edf0f1;
    color: #494949;
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.chat-Nav div i{
    padding: 10px;
    color: #a7a7a7;
    font-size: 0.9rem;
}
.chat-wrapper{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.chat-wrapper::-webkit-scrollbar {
    display: none;
}
.info{
    padding: 40px 20px 40px 20px;
    text-align: center;
}
.info img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.info h2{
    font-weight: 500;
}
.info span{
    font-size: 0.8rem;
    display: block;
    font-weight: 600;
    padding-bottom: 15px;
}
.info p{
    color: #686868;
    font-size: 0.85rem;
}


.chat-button a{
    padding: 6px 8px;
    font-weight: 500;
    border: 1px solid lightgrey; 
    border-radius: 12px; 
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
      
}
/* for text in center of hr in chat */
.chat-hr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1rem;
    font-weight: 600;
}
.chat-hr::before, .chat-hr::after{
    content: '';
    height: 1px;
    background-color: #edf0f1;
    display: block;
}
/* --------------------------------- */
/* User chats */
.User-chats{
    padding: 30px 20px 20px 20px;
    font-size: 0.85rem;
}
.User-chats div{
    background: #edf0f1;
    color: #494949;
    border: 1px solid lightgrey;
    border-radius: 12px;
    padding: 4px 10px;
    margin: 5px 0;
}
.User-chats div span{
    display: block;
    text-align: right;
    font-size: 0.7rem;
}

/* for blue background chats */
.User-chats div.send{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: none;
    border: none;
}
.User-chats div.send .send-chats {
    background: #5252ff;
    color: #fff;
    /* float: right; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.User-chats div section{
    display: flex;
    justify-content: space-between;
    
    padding: 5px;
}

.meeting-time{
    /* text-align: left; */
    font-size: 1.5rem;
    padding: 5px 0 10px 0;
}
.meeting-div-hr{
    margin: 0 -10px;
    border: 1px solid #dadde0;
    margin-bottom: 10px;
}

.send-small{
    background: #5252ff;
    color: #fff;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* input search box in bottom */
.container {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    margin-top: auto;
}

.container input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.container .icon-left {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.container .icon-right {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}
